body {
  margin: 0;
  padding: 0;
  font-family: Martel, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: 200;
}

html {
  font-size: 16px;
  background: white;
  color: #4d4d4d;
  font-weight: 200;
  box-sizing: border-box;
}

.fsForm {
  width: 100%;
  position: relative;
}
.fsForm .fsRow {
  display: block;
  margin-bottom: 1em;
}
.fsForm label {
  font-size: 16px;
  color: #4d4d4d;
  line-height: 1.6;
  display: block;
}
.fsForm label .fsRequiredMarker {
  color: #c60000;
  padding-left: .3em;
}
.fsForm .fsField {
  width: 100%;
  padding: .3em;
  font-size: 16px;
  outline: none;
  transition: all .2s ease-in-out;
  border: thin solid #999999;
  font-family: Martel, serif;
}
.fsForm .fsField:focus {
  background: rgba(77, 77, 77, 0.1);
}
.fsForm textarea.fsField {
  max-width: 100%;
  min-width: 100%;
  min-height: 4em;
  max-height: 20em;
}
.fsForm .fsError {
  padding: 1em;
  background: rgba(147, 0, 0, 0.2);
  color: #600000;
  margin-bottom: 1em;
  text-align: center;
}
.fsForm .fsSubmitButton {
  padding: 1em 2em;
  background: #930000;
  border: 0;
  font-size: 1em;
  color: white;
  font-family: Martel, serif;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.fsForm .fsSubmitButton:hover {
  background: #600000;
}
.fsForm .fsSubmitButton:active {
  background: #c60000;
}
