html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: none; }

html {
  font-size: 18px;
  background: white;
  color: #4d4d4d;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

a {
  transition: all .2s;
  color: #930000;
  text-decoration: none;
  line-height: .5; }

a:hover {
  color: #600000; }

a:active {
  color: #1a1a1a; }

h1, h2, h3 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 300;
  width: 100%;
  text-transform: uppercase; }

em {
  font-style: italic; }

code {
  padding: .2em .2em .1em;
  border-radius: .3em;
  border: thin dotted rgba(77, 77, 77, 0.3);
  background: rgba(77, 77, 77, 0.2);
  font-size: .8em;
  font-family: "share-techmono", monospace;
  color: #4d4d4d;
  display: inline-block; }

code.block {
  display: block;
  margin: 1rem 0; }

header {
  padding: 1.4rem 0 0;
  width: 100vw;
  left: 0;
  background-image: repeating-linear-gradient(45deg, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2) 2px, transparent 2px, transparent 4px);
  background-size: 6px 6px;
  background-color: #333333; }
  header h1, header h2 {
    width: 980px;
    margin: auto;
    padding: 0 2rem;
    display: block;
    color: #999999;
    text-transform: uppercase;
    font-weight: 100; }
    header h1 a, header h2 a {
      color: #999999;
      padding: .1rem 0 0 0;
      position: relative;
      top: 0; }
    header h1 a:hover, header h2 a:hover {
      color: #ccc;
      top: -.1em; }
  header h1 {
    font-size: 3em;
    letter-spacing: 2px; }
  header h2 {
    font-size: 1.3em;
    letter-spacing: 1px; }

nav {
  display: block;
  background: #666;
  margin-top: 1em;
  padding: 1em 0 .5em;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 200; }
  nav label {
    display: none; }
  nav input {
    display: none; }
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 auto;
    padding: 0 2rem; }
    nav ul li {
      text-align: center; }
      nav ul li.active a {
        position: relative;
        color: #4d4d4d;
        border-bottom: medium solid transparent;
        padding-bottom: .5em;
        padding-top: .5em;
        background: white;
        top: 0;
        cursor: default; }
        nav ul li.active a:hover {
          top: 0; }
    nav ul a {
      padding: .4em 1em .5em;
      color: #ccc;
      border: thin solid #ccc;
      background: #666;
      position: relative;
      top: .1em; }
      nav ul a:hover {
        padding: .5em 1em .5em;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0.2em #ccc;
        top: 0em; }
    nav ul .gallery {
      display: none; }
    nav ul .blog {
      display: none; }
    nav ul .about {
      display: none; }

.gallery article {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }
.gallery a.gallery-item {
  justify-content: space-between;
  margin: 0 auto .7rem;
  border-bottom: thick solid #930000;
  transition: all .2s; }
  .gallery a.gallery-item img {
    -webkit-filter: grayscale(0.95);
    -filter: grayscale(0.95); }
.gallery a:hover {
  border-color: #600000; }
  .gallery a:hover img {
    -webkit-filter: grayscale(0);
    -filter: grayscale(0); }
.gallery img {
  float: left; }

aside {
  min-width: 300px;
  padding: 2em 0 0 2em; }
  aside article {
    padding: 1.5em 0 1em;
    border-top: medium solid rgba(77, 77, 77, 0.1); }
    aside article h1 {
      font-size: 1.6em;
      margin-bottom: .3em; }
    aside article h2 {
      font-family: "Work Sans", sans-serif;
      text-align: right;
      font-size: .8em;
      margin-top: 2em;
      text-transform: none; }
      aside article h2 a {
        border: thin solid currentColor;
        box-shadow: inset 0 0 #c60000;
        padding: 1em 1em .8em;
        display: inline-block; }
        aside article h2 a:hover {
          box-shadow: inset 0 -2.4em #c60000;
          top: 0;
          box-shadow: inset 0 -2.3em #c60000;
          color: white; }
        aside article h2 a:after {
          font-family: "FontAwesome", sans-serif;
          font-size: .9em;
          padding: 0 0 0 .5em;
          content: "\f101";
          display: inline-block;
          position: relative;
          top: -.05em; }
    aside article.twitter {
      width: 100%; }
    aside article .pin-item {
      margin-bottom: .2em;
      display: block;
      clear: both; }
      aside article .pin-item p {
        margin-bottom: 2em;
        display: block; }
      aside article .pin-item br {
        display: block;
        clear: both;
        width: 100%;
        height: 1em; }
    aside article .pin-title {
      font-size: .9em;
      line-height: 1.4;
      clear: both;
      box-shadow: inset 0 -0.1em rgba(77, 77, 77, 0.2); }
      aside article .pin-title:hover {
        box-shadow: inset 0 -1.2em rgba(77, 77, 77, 0.1); }
    aside article .pin-description {
      display: none; }
    aside article .pin-tag {
      font-size: .8em;
      padding: .5em .3em .5em;
      margin-right: .4em;
      display: inline-block;
      float: left;
      color: rgba(77, 77, 77, 0.4);
      border: thin solid rgba(77, 77, 77, 0.1); }
      aside article .pin-tag:hover {
        color: rgba(77, 77, 77, 0.6);
        border-color: rgba(77, 77, 77, 0.2); }

footer {
  width: 100%;
  background: #333333;
  padding: 4em 0 2em;
  margin: 1em 0 0 0;
  clear: both;
  color: #666;
  font-size: .9rem;
  position: relative; }
  footer ul {
    margin: auto;
    text-align: center; }
    footer ul li {
      display: inline;
      padding: .4em;
      border-right: thin solid #666; }
      footer ul li iframe {
        position: relative !important; }
      footer ul li:last-child {
        border: 0; }
  footer a {
    color: #999999;
    padding: .4em .8em; }
  footer a:hover {
    color: white; }
  footer form {
    width: 100%;
    margin: 2rem auto;
    display: block;
    text-align: center; }
    footer form h3, footer form h4 {
      padding: .4rem; }
    footer form h3:before {
      content: "\f002";
      font-family: "FontAwesome", sans-serif;
      margin-right: .4rem; }
    footer form h4 {
      color: #666;
      font-size: .8rem; }
    footer form .searchfield {
      width: 18rem;
      height: 2.5rem;
      text-align: center;
      padding: .5rem;
      transition: all .2s;
      font-family: "Work Sans", sans-serif;
      color: #666;
      background: #999999;
      border-radius: 2rem;
      border: thin solid transparent; }
    footer form .searchfield:before {
      content: "\f002";
      font-family: "FontAwesome", sans-serif;
      color: #999999; }
    footer form .searchfield:focus {
      width: 22rem;
      background: #ccc;
      outline: none; }
    footer form .searchbutton {
      display: none;
      visibility: hidden; }

.container {
  width: 980px;
  margin: auto;
  padding: 0 2em;
  background: white;
  position: relative;
  flex: 1;
  display: flex; }

section {
  padding: 1em 0;
  max-width: 620px;
  min-width: 620px; }
  section a {
    box-shadow: inset 0 -0.1em rgba(77, 77, 77, 0.2);
    padding: .5em .2em .1em; }
  section a:hover {
    box-shadow: inset 0 -1.5em rgba(77, 77, 77, 0.1); }
  section h1, section h2 {
    display: block; }
  section h1 {
    font-size: 2em;
    margin-top: 1rem;
    padding: .5em 0;
    border-top: medium solid rgba(77, 77, 77, 0.1); }
    section h1 a {
      color: #4d4d4d; }
  section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem; }
  section h3 {
    text-align: right;
    width: 100%; }
    section h3 a {
      border: none !important; }
    section h3 a:after {
      font-family: "FontAwesome", sans-serif;
      content: "\f101";
      margin-left: .3rem;
      position: relative;
      display: inline-block; }
  section h4 {
    color: #666;
    margin: 1rem 0;
    font-size: .9rem; }
  section p {
    line-height: 1.5;
    margin: 0 0 .8rem 0;
    font-weight: 100; }
  section p:nth-of-type(1) {
    font-size: 1.3em;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase; }
  section li {
    list-style-type: disc;
    line-height: 1.4;
    margin: 0 0 .8rem 1.2rem; }
  section article {
    margin-bottom: 4em; }
  section figure {
    margin: 0 0 1rem 0;
    padding: 0 0 .5rem 0;
    border-bottom: thin dotted rgba(77, 77, 77, 0.2); }
    section figure figcaption {
      font-size: .9rem;
      padding: .2rem 0 .1rem 0;
      color: #999999;
      text-align: center;
      line-height: 1.5; }
      section figure figcaption strong {
        font-weight: 700; }
      section figure figcaption strong:after {
        content: " ... "; }
  section img {
    width: 100%; }
  section.blog h2 a:before {
    content: "\f036";
    font-family: "FontAwesome", sans-serif;
    margin-right: .5rem;
    font-size: .9rem;
    position: relative; }
  section.blog article {
    border-top: thin solid #999999;
    margin-top: 1rem;
    padding-top: .5rem; }
  section.blog article:nth-child(2) {
    border-top: 0; }
  section.blog blockquote {
    padding: .3rem 1rem;
    margin: 0 0 1rem 0;
    border-left: medium solid #999999; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 16px; }

  header {
    padding: 1rem 0 0; }
    header h1, header h2 {
      width: 100%;
      padding: 0 1rem; }
    header h1 {
      font-size: 3.2em; }
    header h2 {
      font-size: 1.3em;
      line-height: 1.2;
      letter-spacing: 0;
      margin-bottom: .5em; }

  nav {
    width: 100vw;
    padding: .7em 0;
    margin: 0;
    position: relative;
    min-height: 2.2em; }
    nav label {
      display: block;
      width: 2em;
      height: 2em;
      background-color: #333333;
      margin: .1em;
      position: absolute;
      top: 0;
      right: 0; }
      nav label:before {
        content: 'Menu: ';
        display: block;
        width: 2em;
        color: #ccc;
        position: absolute;
        top: .5em;
        right: 2.2em;
        text-align: right;
        color: rgba(255, 255, 255, 0.3); }
      nav label:after {
        content: '|||';
        text-align: center;
        display: block;
        padding: .5em;
        cursor: pointer;
        font-weight: 800;
        transform: rotate(90deg); }
    nav input {
      transition: all .2s ease-in-out; }
    nav ul {
      width: calc(100% - 6em);
      padding: 0;
      margin: 0 1em;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease-in-out; }
      nav ul li {
        position: relative;
        width: 100%;
        border-bottom: thin solid rgba(255, 255, 255, 0.1); }
        nav ul li a {
          padding: .9em 0;
          color: #ccc;
          border: 0;
          background: transparent;
          position: static;
          display: block;
          text-align: left; }
          nav ul li a:hover {
            padding: .5em 0;
            color: white;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0.2em #ccc;
            top: 0em; }
        nav ul li.active a {
          position: relative;
          color: white;
          border-bottom: none;
          padding: .5em 0;
          background: transparent; }
        nav ul li:last-child {
          border-bottom: 0; }
        nav ul li.gallery {
          display: none; }
        nav ul li.blog {
          display: none; }
        nav ul li.about {
          display: none; }
    nav input:checked + ul {
      height: auto;
      opacity: 1; }

  .container {
    width: 100vw;
    padding: 0;
    display: block; }
    .container h1, .container h2 {
      padding: .5em 0; }

  section {
    width: 100%;
    display: block;
    padding: 1rem; }

  aside {
    width: 100%;
    padding: 0;
    border-top: medium solid rgba(153, 153, 153, 0.2);
    background: rgba(153, 153, 153, 0.1);
    margin-bottom: 0; }
    aside article {
      padding: .5rem 1rem;
      border: 0; }
      aside article h1 {
        margin: 0;
        padding-bottom: 0; }
      aside article h2 {
        font-size: 1em; }
        aside article h2 a {
          width: 100%;
          text-align: center; }
    aside iframe {
      width: 100%; }

  footer {
    margin: 0; }
    footer ul li {
      display: block;
      border: 0;
      margin: .4em; } }
@media only screen and (max-width: 980px) {
  html {
    font-size: 16px; }

  header {
    padding: 1rem 0 0; }
    header h1, header h2 {
      width: 100%;
      padding: 0 1rem; }
    header h1 {
      font-size: 3.2em; }
    header h2 {
      font-size: 1.3em;
      line-height: 1.2;
      letter-spacing: 0;
      margin-bottom: .5em; }

  nav {
    width: 100vw;
    padding: .7em 0;
    margin: 0;
    position: relative;
    min-height: 2.2em; }
    nav label {
      display: block;
      width: 2em;
      height: 2em;
      background-color: #333333;
      margin: .1em;
      position: absolute;
      top: 0;
      right: 0; }
      nav label:before {
        content: 'Menu: ';
        display: block;
        width: 2em;
        color: #ccc;
        position: absolute;
        top: .5em;
        right: 2.2em;
        text-align: right;
        color: rgba(255, 255, 255, 0.3); }
      nav label:after {
        content: '|||';
        text-align: center;
        display: block;
        padding: .5em;
        cursor: pointer;
        font-weight: 800;
        transform: rotate(90deg); }
    nav input {
      transition: all .2s ease-in-out; }
    nav ul {
      width: calc(100% - 6em);
      padding: 0;
      margin: 0 1em;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease-in-out; }
      nav ul li {
        position: relative;
        width: 100%;
        border-bottom: thin solid rgba(255, 255, 255, 0.1); }
        nav ul li a {
          padding: .9em 0;
          color: #ccc;
          border: 0;
          background: transparent;
          position: static;
          display: block;
          text-align: left; }
          nav ul li a:hover {
            padding: .5em 0;
            color: white;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0.2em #ccc;
            top: 0em; }
        nav ul li.active a {
          position: relative;
          color: white;
          border-bottom: none;
          padding: .5em 0;
          background: transparent; }
        nav ul li:last-child {
          border-bottom: 0; }
        nav ul li.gallery {
          display: none; }
        nav ul li.blog {
          display: none; }
        nav ul li.about {
          display: none; }
    nav input:checked + ul {
      height: auto;
      opacity: 1; }

  .container {
    width: 100vw;
    padding: 0;
    display: block; }
    .container h1, .container h2 {
      padding: .5em 0; }

  section {
    width: 100%;
    display: block;
    padding: 1rem; }

  aside {
    width: 100%;
    padding: 0;
    border-top: medium solid rgba(153, 153, 153, 0.2);
    background: rgba(153, 153, 153, 0.1);
    margin-bottom: 0; }
    aside article {
      padding: .5rem 1rem;
      border: 0; }
      aside article h1 {
        margin: 0;
        padding-bottom: 0; }
      aside article h2 {
        font-size: 1em; }
        aside article h2 a {
          width: 100%;
          text-align: center; }
    aside iframe {
      width: 100%; }

  footer {
    margin: 0; }
    footer ul li {
      display: block;
      border: 0;
      margin: .4em; } }
/* Preload images */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal; }
  .lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit; }
  .lightbox a img {
    border: none; }

.lb-outerContainer {
  position: relative;
  background-color: black;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-container {
  padding: 4px; }

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  content: "/f110";
  color: #ccc; }

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }
  .lb-nav .nav {
    left: 0; }

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
  content: "/f104";
  color: #ccc; }

.lb-nav a.lb-prev:hover {
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
  content: "/f105"; }

.lb-nav a.lb-next:hover {
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  *zoom: 1;
  width: 100%; }

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both; }

.lb-data {
  padding: 0;
  color: #666;
  background: #1a1a1a;
  text-align: center;
  font-family: "Work Sans", sans-serif; }
  .lb-data .lb-details {
    width: 100%;
    padding: .5rem;
    line-height: 1.1rem;
    background: #1a1a1a; }
  .lb-data .lb-caption {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.2rem; }
  .lb-data .lb-number {
    display: block;
    clear: left;
    padding: 1em;
    font-size: 12px;
    color: #333333; }
  .lb-data .lb-close {
    display: block;
    float: right;
    width: 2rem;
    height: 2rem;
    background: url(../img/close.png) #930000 top right no-repeat;
    text-align: right;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s; }
  .lb-data .lb-close:hover {
    cursor: pointer;
    opacity: 1; }
