// FOOTER 

  footer{
    width: 100%;
    background: $gr-dk;
    padding: 4em 0 2em;
    margin: 1em 0 0 0;
    clear: both;
    color: $gr;
    // height: 100%;
    font-size: .9rem;
    position: relative;
    // z-index: -100;

    ul{
      // width: 60%;
      margin: auto;
      text-align: center;

      li{
        display: inline;
        padding: .4em;
        border-right: thin solid $gr;

        iframe {
          position: relative !important;
        }

        &:last-child{
          border: 0;
        }
      }


    }

    a{
      color: $gr-lt;
      padding: .4em .8em;
    }

    a:hover{
      color: $wh-lt;
    }

    form{
        width: 100%;
        margin: 2rem auto;
        display: block;
        text-align: center;

        h3, h4{
          padding: .4rem;
        }

        h3{

        }

        h3:before{
          content: "\f002";
          font-family: $fontawesome;
          margin-right: .4rem;
        }

        h4{
          color: $gr;
          font-size: .8rem;
        }

      .searchfield{
        width: 18rem;
        height: 2.5rem;
        text-align: center;
        padding: .5rem;
        transition: all .2s;
        font-family: $bodytext;
        color: $gr;
        background: $gr-lt;
        border-radius: 2rem;
        border: thin solid transparent;
      }

      .searchfield:before{
        content: "\f002";
        font-family: $fontawesome;
        color: $gr-lt;
      }

      .searchfield:focus{
        width: 22rem;
        background: $wh;
        outline: none;
      }

      .searchbutton{
        display: none;
        visibility: hidden;
      }
    }
  }