.gallery {

        article{
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
        }

        a.gallery-item{
          justify-content: space-between;
          margin: 0 auto .7rem;
          border-bottom: thick solid $link;
          transition: all .2s;

          img{
            -webkit-filter: grayscale(.95);
            -filter: grayscale(.95);
          }
        }

        a:hover{
          border-color: $link-hover;

          img{
            -webkit-filter: grayscale(0);
            -filter: grayscale(0);
          }
        }

        img{
          float: left;
        }
      }