html{
    font-size: 18px;
    background: $bg-colour;
    color: $text-colour;
    font-family: $bodytext;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  a {
    transition: all .2s;
    color: $link;
    text-decoration: none;
    line-height: .5;
    // padding-bottom: -5px;
  }

  a:hover{
    color: $link-hover;
  }

  a:active{
    color: $link-active;
  }

  h1, h2, h3 {
    font-family: $headline;
    font-weight: 300;
    width: 100%;
    text-transform: uppercase;
  }
  em{
    font-style: italic;
  }

  code{
    padding: .2em .2em .1em;
    border-radius: .3em;
    border: thin dotted $bk-tr-3;
    background: $bk-tr-2;
    font-size: .8em;
    font-family: $codefont;
    color: $bk-lt;
    display: inline-block;
  }

  code.block{
    display: block;
    margin: 1rem 0;
  }