header {
  padding: 1.4rem 0 0;
  width: 100vw;
  left: 0;
  background-image: repeating-linear-gradient(
    45deg, 
    $bk-tr-2, 
    $bk-tr-2 2px, 
    transparent 2px, 
    transparent 4px
    );
  background-size: 6px 6px;
  background-color: $gr-dk;

  h1, h2 {
    width: $width-medium;
    margin: auto;
    padding: 0 2rem;
    display: block;
    color: $text-colour-lt;
    text-transform: uppercase;
    font-weight: 100;

    a {
      color: $text-colour-lt;
      padding: .1rem 0 0 0;
      position: relative;
      top: 0;
    }
    a:hover {
      color: $wh;
      top: -.1em;
    }
  }
  h1 {
    font-size: 3em;
    letter-spacing: 2px;
    // font-weight: 300;
  }
  h2 {
    font-size: 1.3em;
    // line-height: 1.5;
    letter-spacing: 1px;
  }
}
nav {
  display: block;
  background: $gr;
  margin-top: 1em;
  padding: 1em 0 .5em;
  font-family: $headline;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 200;
  
  label {
    display: none;
  }
  input {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $width-medium;
    margin: 0 auto;
    padding: 0 2rem;

    li {
      text-align: center;

      &.active {
        a {
          position: relative;
          color: $bk-lt;
          border-bottom: medium solid transparent;
          padding-bottom: .5em;
          padding-top: .5em;
          background: $wh-lt;
          top: 0;
          cursor: default;

          &:hover {
            top: 0;
          }
        }
      }
    }
    a {
      padding: .4em 1em .5em;
      color: $wh;
      border: thin solid $wh;
      background: $gr;
      position: relative;
      top: .1em;

      &:hover {
        padding: .5em 1em .5em;
        color: $wh-lt;
        background: $wh-tr-2;
        box-shadow: 0 .2em $wh;
        top: 0em;
      }
    }
    .home {
    }
    .gallery {
      display: none;
    }
    .blog {
      display: none;
    }
    .about {
      display: none;
    }
    .contact {
    }
  }
}