aside {
  min-width: 300px;
  // max-width: 300px;
  padding: 2em 0 0 2em;

  article {
    padding: 1.5em 0 1em;
    border-top: medium solid $bk-tr-1;
    // width: 100%;

    h1, h2 {
    }
    h1 {
      font-size: 1.6em;
      margin-bottom: .3em;
    }
    h2 {
      font-family: $bodytext;
      text-align: right;
      font-size: .8em;
      margin-top: 2em;
      text-transform: none;

      a {
        border: thin solid currentColor;
        box-shadow: inset 0 0 $rd-lt;
        padding: 1em 1em .8em;
        display: inline-block;

        &:hover {
          box-shadow: inset 0 -2.4em $rd-lt;
          top: 0;
          box-shadow: inset 0 -2.3em $rd-lt;
          color: $wh-lt;
        }
        &:after {
          font-family: $fontawesome;
          font-size: .9em;
          padding: 0 0 0 .5em;
          content: "\f101";
          display: inline-block;
          position: relative;
          top: -.05em;
        }
      }
    }
    &.twitter {
      width: 100%;
    }
    .pin-item {
      margin-bottom: .2em;
      display: block;
      clear: both;

      p {
        margin-bottom: 2em;
        display: block;
      }
      a {
        &:hover {
          // top: 0;
        }
      }
      br {
        display: block;
        clear: both;
        width: 100%;
        height: 1em;
      }
    }
    .pin-title {
      font-size: .9em;
      line-height: 1.4;
      clear: both;
      box-shadow: inset 0 -.1em $bk-tr-2;

      &:hover {
        box-shadow: inset 0 -1.2em $bk-tr-1;
      }
    }
    .pin-description {
      display: none;
    }
    .pin-tag {
      font-size: .8em;
      padding: .5em .3em .5em;
      margin-right: .4em;
      display: inline-block;
      float: left;
      color: $bk-tr-4;
      border: thin solid $bk-tr-1;

      &:hover {
        color: $bk-tr-6;
        border-color: $bk-tr-2;
      }
    }
  }
}