// VARIABLES

// COLOURS

$rd: #930000;
$rd-xl: lighten($rd, 60%);
$rd-lt: lighten($rd, 10%);
$rd-dk: darken($rd, 10%);
$gr: #666;
$gr-lt: lighten($gr, 20%);
$gr-dk: darken($gr, 20%);
$gr-tr-1:rgba($gr-lt, .1);
$gr-tr-2:rgba($gr-lt, .2);
$gr-tr-3:rgba($gr-lt, .3);
$gr-tr-4:rgba($gr-lt, .4);
$gr-tr-5:rgba($gr-lt, .5);
$gr-tr-6:rgba($gr-lt, .6);
$gr-tr-7:rgba($gr-lt, .7);
$gr-tr-8:rgba($gr-lt, .8);
$gr-tr-9:rgba($gr-lt, .9);
$bk: #333;
$bk-lt: lighten($bk, 10%);
$bk-dk: darken($bk, 10%);
$bk-tr-1:rgba($bk-lt, .1);
$bk-tr-2:rgba($bk-lt, .2);
$bk-tr-3:rgba($bk-lt, .3);
$bk-tr-4:rgba($bk-lt, .4);
$bk-tr-5:rgba($bk-lt, .5);
$bk-tr-6:rgba($bk-lt, .6);
$bk-tr-7:rgba($bk-lt, .7);
$bk-tr-8:rgba($bk-lt, .8);
$bk-tr-9:rgba($bk-lt, .9);
$wh: #ccc;
$wh-lt: lighten($wh, 20%);
$wh-dk: darken($wh, 20%);
$wh-tr-1:rgba($wh-lt, .1);
$wh-tr-2:rgba($wh-lt, .2);
$wh-tr-3:rgba($wh-lt, .3);
$wh-tr-4:rgba($wh-lt, .4);
$wh-tr-5:rgba($wh-lt, .5);
$wh-tr-6:rgba($wh-lt, .6);
$wh-tr-7:rgba($wh-lt, .7);
$wh-tr-8:rgba($wh-lt, .8);
$wh-tr-9:rgba($wh-lt, .9);
$fb: #3b5a94;
$tw: #00c7f5;
$ig: #517fa4;
$go: #d8473c;
$pi: #cb2027;
// FONTS

$headline: 'Open Sans Condensed', sans-serif;
$headline: 'proxima-nova-extra-condensed', sans-serif;
// $headline: 'Work Sans', sans-serif;
$bodytext: 'Georgia', serif;
$bodytext: 'metronic-slab', serif;
$bodytext: 'Martel', serif;
$bodytext: 'Work Sans', sans-serif;
// $codefont: 'Inconsolata', monospace;
$codefont: 'share-techmono', monospace;
$fontawesome: 'FontAwesome', sans-serif;
// WIDTHS 

$width-medium: 980px;
// SUPERVARIABLES

$border-colour: $gr-dk;
$bg-colour: $wh-lt;
$text-colour: $bk-lt;
$text-colour-lt: $wh-dk;
$link: $rd;
$link-hover: $rd-dk;
$link-active: $bk-dk;
