// VARIABLES

  // COLOURS

    $rd:             #930000;
    $rd-lt:          lighten($rd,10%);
    $rd-dk:          darken($rd,10%);

    $gr:            #666;
    $gr-lt:         lighten($gr,20%);
    $gr-dk:         darken($gr,20%);

    $bk:            #333;
    $bk-lt:         lighten($bk, 10%);
    $bk-dk:         darken($bk, 10%);

    $bk-tr-1:       rgba($bk-lt, .1);
    $bk-tr-2:       rgba($bk-lt, .2);
    $bk-tr-3:       rgba($bk-lt, .3);
    $bk-tr-4:       rgba($bk-lt, .4);
    $bk-tr-5:       rgba($bk-lt, .5);
    $bk-tr-6:       rgba($bk-lt, .6);
    $bk-tr-7:       rgba($bk-lt, .7);
    $bk-tr-8:       rgba($bk-lt, .8);
    $bk-tr-9:       rgba($bk-lt, .9);

    $wh:            #ccc;
    $wh-lt:         lighten($wh, 20%);
    $wh-dk:         darken($wh, 20%);

    $wh-tr-1:       rgba($wh-lt, .1);
    $wh-tr-2:       rgba($wh-lt, .2);
    $wh-tr-3:       rgba($wh-lt, .3);
    $wh-tr-4:       rgba($wh-lt, .4);
    $wh-tr-5:       rgba($wh-lt, .5);
    $wh-tr-6:       rgba($wh-lt, .6);
    $wh-tr-7:       rgba($wh-lt, .7);
    $wh-tr-8:       rgba($wh-lt, .8);
    $wh-tr-9:       rgba($wh-lt, .9);

    $fb:            #3b5a94;
    $tw:            #00c7f5;
    $ig:            #517fa4;
    $go:            #d8473c;
    $pi:            #cb2027;

  // FONTS 

    $headline:        Open Sans Condensed, serif;
    $bodytext:        Martel, serif;
    $codefont:        Inconsolata, sans-serif;
    $fontawesome:     FontAwesome, sans-serif;


  // SUPERVARIABLES

    $border-colour:   $gr-dk;
    $bg-colour:       $wh-lt;
    $text-colour:     $bk-lt;
    $text-colour-lt:  $wh-dk;

    $link:            $rd-lt;
    $link-hover:      $rd-lt;
    $link-active:     $rd-dk;

// STYLES
    body {
      margin: 0;
      padding: 0;
      font-family: $bodytext;
    }
    *,
    *::before,
    *::after {
      box-sizing: inherit;
      font-weight: 200;
    }

    html {
      font-size: 16px;
      background: $bg-colour;
      color: $text-colour;
      font-weight: 200;
      box-sizing: border-box;
    }
    .fsForm {
      width: 100%;
      position: relative;

      .fsRow {
        display: block;
        margin-bottom: 1em;
      }
      label {
        font-size: 16px;
        color: $bk-lt;
        line-height: 1.6;
        display: block;

        .fsRequiredMarker {
          color: $rd-lt;
          padding-left: .3em;
        }
      }
      .fsField {
        width: 100%;
        padding: .3em;
        font-size: 16px;
        outline: none;
        transition: all .2s ease-in-out;
        border: thin solid $wh-dk;
        font-family: $bodytext;


        &:focus {
          background: $bk-tr-1;
        }
      }
      textarea.fsField {
        max-width: 100%;
        min-width: 100%;
        min-height: 4em;
        max-height: 20em;
      }
      .fsError {
        padding: 1em;
        background: rgba($rd, .2);
        color: $rd-dk;
        margin-bottom: 1em;
        text-align: center;
      }
      .fsSubmitButton {
        padding: 1em 2em;
        background: $rd;
        border: 0;
        font-size: 1em;
        color: $wh-lt;
        font-family: $bodytext;
        transition: all .2s ease-in-out;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute;
        right: 0;

        &:hover {
          background: $rd-dk;
        }
        &:active {
          background: $rd-lt;
        }
      }
    }