// LIGHTBOX


  /* Preload images */
  body:after {
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
    display: none;
  }

  .lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    opacity: 0.8;
    display: none;
  }

  .lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;


    .lb-image {
      display: block;
      height: auto;
      max-width: inherit;
    }

    a img {
      border: none;
    }

  }

  .lb-outerContainer {
    position: relative;
    background-color: black;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
  }

  .lb-container {
    padding: 4px;
  }

  .lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
  }

  .lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    // background: url(../img/loading.gif) no-repeat;
    content: "/f110";
    color: $wh;
  }

  .lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;


    .nav {
      left: 0;
    }

    a {
      // outline: none;
      // background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    }

  }

  .lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
  }

  .lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prev.png) left 48% no-repeat;
    opacity: 0;
    transition: opacity 0.6s;
    content: "/f104";
    color: $wh;
  }

  .lb-nav a.lb-prev:hover {
    opacity: 1;
  }

  .lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    opacity: 0;
    transition: opacity 0.6s;
    content: "/f105";
  }

  .lb-nav a.lb-next:hover {
    opacity: 1;
  }

  .lb-dataContainer {
    margin: 0 auto;
    *zoom: 1;
    width: 100%;
  }

  .lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
  }

  .lb-data {
    padding: 0;
    color: $gr;
    background: $bk-dk;
    text-align: center;
    font-family: $bodytext;


    .lb-details {
      width: 100%;
      padding: .5rem;
      line-height: 1.1rem;
      background: $bk-dk;
    }

    .lb-caption {
      font-size: .8rem;
      font-weight: 400;
      line-height: 1.2rem;
      // float: left;
    }

    .lb-number {
      display: block;
      clear: left;
      padding: 1em;
      font-size: 12px;
      color: $gr-dk;
    }

    .lb-close {
      display: block;
      float: right;
      width: 2rem;
      height: 2rem;
      background: url(../img/close.png) $rd top right no-repeat;
      text-align: right;
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;
    }

    .lb-close:hover {
      cursor: pointer;
      opacity: 1;
    }

  }

