

// IMPORTS
  
  @import "_variables";
  @import '_style-reset';

  // @import '_font';
  @import '_globals'; 

  @import '_header';
  @import '_gallery';
  @import '_sidebar';
  @import '_footer';



// MAIN
  
  // CONTAINER 

    .container{
      width: $width-medium;
      margin: auto;
      padding: 0 2em;
      background: $bg-colour;
      position: relative;
      flex: 1;
      display: flex;
    }


  // MAIN COLUMN 

    section{
      padding: 1em 0;
      max-width: 620px;
      min-width: 620px;

      a{
        box-shadow: inset 0 -.1em $bk-tr-2;
        padding: .5em .2em .1em;
      }

      a:hover{
        box-shadow: inset 0 -1.5em $bk-tr-1;
      }

      h1, h2{
        display: block;
        
      }

      h1{
        font-size: 2em;
        margin-top: 1rem;
        padding: .5em 0;
        border-top: medium solid $bk-tr-1;

        a{
          color: $text-colour;
        }
      }

      h2{
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      h3{
        text-align: right;
        width: 100%;

        a{
          border: none !important;
        }

        a:after{
          font-family: $fontawesome;
          content: "\f101";
          margin-left: .3rem;
          position: relative;
          // top: .1rem;
          display: inline-block;
        }
      }

      h4{
        color: $gr;
        margin: 1rem 0;
        font-size: .9rem;
      }

      p{
        line-height: 1.5;
        margin: 0 0 .8rem 0;
        font-weight: 100;
      }

      p:nth-of-type(1) {
        font-size: 1.3em;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
      }

      ul{

      }

      li{
        list-style-type: disc;
        line-height: 1.4;
        margin: 0 0 .8rem 1.2rem;
      }

      article{
        margin-bottom: 4em;
      }
      

      figure{
        margin: 0 0 1rem 0;
        padding: 0 0 .5rem 0;
        border-bottom: thin dotted $bk-tr-2;

        figcaption{
          font-size: .9rem;
          padding: .2rem 0 .1rem 0;
          color: $gr-lt;
          text-align: center;
          line-height: 1.5;

          strong{
            font-weight: 700;
          }

          strong:after{
            content: " ... ";
          }
        }
      }
      .ac-form {
        // border-top: medium solid $bk-tr-1;
        // padding: 1em !important;
        // margin: 1em !important;
      }

      img{
        width: 100%;
      }

    &.blog{

      h2{

        a:before{
          content: "\f036"; // Align Left
          font-family: $fontawesome;
          margin-right: .5rem;
          font-size: .9rem;
          position: relative;
          // top: -.15rem;
        }
      }

      article{
        border-top: thin solid $wh-dk;
        margin-top: 1rem;
        padding-top: .5rem;
      }

      article:nth-child(2){
        border-top: 0;
      }

      blockquote{
        padding: .3rem 1rem;
        margin: 0 0 1rem 0;
        border-left: medium solid $wh-dk;
      }
    }
  }

// IMPORTS

  
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    @import 'style-mobile';
  }
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
    @import 'style-tablet';
  }
  @media only screen
  and (max-width : 980px) {
    @import 'style-small';
  }
  @media only screen
  and (min-width : 1600px) {
    @import 'style-large';
  }


  @import "lightbox";