// Smartphones (portrait and landscape)


html {
  font-size: 16px;
}
header {
  padding: 1rem 0 0;

  h1, h2 {
    width: 100%;
    padding: 0 1rem;

  }
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 1.3em;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: .5em;
  }
}
nav {
  width: 100vw;
  padding: .7em 0;
  margin: 0;
  position: relative;
  min-height: 2.2em;

  label {
    display: block;
    width: 2em;
    height: 2em;
    background-color: $gr-dk;
    margin: .1em;
    position: absolute;
    top: 0;
    right: 0;

    &:before {
      content: 'Menu: ';
      display: block;
      width: 2em;
      color: $wh;
      position: absolute;
      top: .5em;
      right: 2.2em;
      text-align: right;
      color: $wh-tr-3;
    }
    &:after {
      content: '|||';
      text-align: center;
      display: block;
      padding: .5em;
      cursor: pointer;
      font-weight: 800;
      transform: rotate(90deg);
    }
  }
  input {
    transition: all .2s ease-in-out;
  }
  ul {
    width: calc(100% - 6em);
    padding: 0;
    margin: 0 1em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    // border-right: thin solid $wh-tr-5;

    li {
      position: relative;
      width: 100%;
      border-bottom: thin solid $wh-tr-1;
      

      a {
        padding: .9em 0;
        color: $wh;
        border: 0;
        background: transparent;
        position: static;
        display: block;
        text-align: left;


        &:hover {
          padding: .5em 0;
          color: $wh-lt;
          background: $wh-tr-2;
          box-shadow: 0 .2em $wh;
          top: 0em;
        }
      }
      &.active {
        a {
          position: relative;
          color: $wh-lt;
          border-bottom: none;
          padding: .5em 0;
          background: transparent;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
      &.gallery {
        display: none;
      }
      &.blog {
        display: none;
      }
      &.about {
        display: none;
      }
    }
  }
  // input:checked > label  {
  //   transform: rotate(45deg) !important;
  // }
  input:checked + ul {
    height: auto;
    opacity: 1;
  }
}
.container {
  width: 100vw;
  padding: 0;
  display: block;

  h1, h2 {
    padding: .5em 0;
  }
}
section {
  width: 100%;
  display: block;
  padding: 1rem;
}
aside {
  width: 100%;
  padding: 0;
  border-top: medium solid $gr-tr-2;
  background: $gr-tr-1;
  margin-bottom: 0;

  article {
    padding: .5rem 1rem;
    border: 0;

    h1 {
      margin: 0;
      padding-bottom: 0;
    }

    h2 {
      font-size: 1em;

      a {
        width: 100%;
        text-align: center;
      }
    }
    .pin-tag {
      // display: none;
    }
  }

  iframe {
    width: 100%;
  }
}
footer {
  margin: 0;
  ul {
    li {
      display: block;
      border: 0;
      margin: .4em;
    }
  }
  a {
    
  }
}